<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Book Information:</h1>
    <ul>
        <li><label><u>Title:</u></label>{{ book.title }}</li>
        <li><label><u>Author:</u></label>{{ book.author }}</li>
        <li><label><u>Review:</u></label>{{ review.review }}</li>
    </ul>
</body>
</html>