<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Info</title>
</head>
<body>
    <h2>Book Information:</h2>
    <ul>
        <li><label><u>Title:</u></label>{{ book.title }}</li>
        <li><label><u>Author:</u></label>{{ book.author }}</li>
        {% for rev in review %}
        <li><label>Reviews:</label></li>
        <p><a href='/book/{{ rev.book.id }}'>{{ rev.book.title }}</a></p>
        <p>{{ rev.review }}</p>
        {% endfor %}
    </ul>
    <h2>Add a Review:</h2>
    <form action="/new_review/{{ book.id }}" method='POST'>
        {% csrf_token %}
        <input type='hidden' name='id' value='{{book.id}}'>
        <textarea rows='4' col='50' name='review'></textarea>
        <input type='submit' value='Add Review'>
    </form>
    <a href='/home'>Go Home</a>
</body>
</html>