<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1><u>Welcome! {{ users.name }}</u></h1>
    {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
                <li{% if message.tags %} class='{{ message.tags }}' {% endif %}> {{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h2>Recent Book Reviews:</h2>
    {{ review.books.author }}
    {% for rev in review %}
        <li><h3><a href='/book/{{ rev.book.id }}'>{{ rev.book.title }}</a></h3></li>
        <li>{{ rev.review }}</li>
        <li><h3><a href='/user/{{ rev.user.id }}'>{{ rev.user.name }}</a></h3></li>
    {% endfor %}
    <hr>
    <br>
    <a href='home/bookreview'>Add a Book Review</a>
    <a href='/'>Go Back</a>
    <hr>
    <a href='/logout'>Logout</a>
</body>
</html>