<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Review</title>
</head>
<body>
    <h2>Add a Book {{ users.name }}</h2>
    
    <form action='' method='POST'>
        <label>Book Title:</label>
        <input type='text' name='title'>
        <label>Author:</label>
        <input type='text' name='author'>
        <select name='select'>
                <option>none</option>
            {% for book in books %}
                <option>{{ book.title }}</option>
            {% endfor %}
        </select>
        <label>Review</label>
        <textarea rows='4' col='50' name='review'></textarea>
        <input type='submit' value='Submit'>
    </form>
    <a href='/home'>Back to Home</a>
</body>
</html>