<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
</head>
<body>
    <h1><u>User Information:</u></h1>
    <ul>
        <li><label><u>Name:</u></label>{{ user.name }}</li>
        <li><label><u>Email:</u></label>{{ user.email }}</li>
        <li><label><u>Total # of Reviews:</u></label>{{ review_count }}</li>
    </ul>
    <a href='/home'>Go Home</a>
    <hr>
    <a href='/logout'>Logout</a>
</body>
</html>